@font-face {
    font-family: PrintClearly;
    src: url(Fonts/PrintClearly-GGP.ttf);
}

    @font-face {
        font-family: NugoSans;
        src: url(Fonts/NugoSansLight-9YzoK.ttf);
    }

    @font-face {
        font-family: Coconut;
        src: url(Fonts/Coconut-eZ7Lp.ttf);
    }


body {
    background: #2b3252;
    color: #ffffff;
    font-family: NugoSans, PrintClearly, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

a {
    text-decoration: none;
    transition: 500ms;
}
    a:link {
        color: #ffffff;
    }
    a:visited {
        color: #ffffff;
        text-decoration: none;
    }
    a:hover {
        background-color: #2b3252;
        text-decoration: none;
        transition-delay: 50ms;
    }
    a:active {
        color: #000000;
        background-color: #888888;
        text-decoration: none;
    }

header{
    font-family:  Arial, Helvetica, sans-serif;
    background-color: rgba(17, 23, 38, 0.0); /*old HEXcolor code #111726, using RBGA so opacity isn't inhereted by children; */
    margin: 0px;
    padding: 0px;
    transition: 500ms;
    font-size: medium;
}

    header:hover{
        /* border-bottom: #000000 10px solid; */
        background-color: rgba(17, 23, 38, 1);
        transition: 500ms;
    }

    .sticky {
        position: sticky;
        top: 0;
        z-index: 6;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

    }
        .HeaderUl{
            text-align: right;
            list-style-position: inside;
            opacity: 0.7;
            transition: 500ms;  
        }
            .HeaderUl:hover{
                opacity: 1;
                transition: 500ms;
                }

        .LinkClickable {
            display: inline-block;
            position: relative;
            padding: 2em;
            margin: -2em;
        }
        li.HeaderLinks {
            /* background: #111726; */ /*commenting out to make opacity easier*/
            display: inline-flex;
            justify-content: space-around;
            justify-content: space-between;
            margin: 0px;
            padding: 20px 2%;
            overflow: hidden;
        }
            /* li.HeaderLinks:first-child {
                margin-left: 60%;
            } */




/* #ee5454 redish color I want to save for later*/

section.ImgShowcase {
    background-color: #000000;
    position:relative;
    padding: 100px;
    margin: -50px auto; 
    bottom: 50px;
    box-shadow: 0px 00px 20px 0px #000000;
}
    section.ImgShowcase::before {
        content: "";
        position: absolute;
        background-image: url("Images/Reaper.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
        box-shadow: inset 0px -200px 100px -10px rgba(0, 0, 0, 0.5); 
    }
        .ImgText {
            font-size: xx-large;
            overflow: hidden;
            position: relative;
            color: #ffffff;
            padding: 0px;
            padding-top: 50px;
            margin: 0px;
            text-overflow: ellipsis;
            text-shadow:0px 0px 10px #272727;
        }
            h1.ImgText{
                font-family: NugoSans, Arial, Helvetica, sans-serif;
                font-weight: bolder;
                font-size: 72px;
                letter-spacing: 0.8cm;
                text-transform: uppercase;
                left: 25px;
            }
                .ImgSubText{

            }
            h2.ImgText{
                font-weight: 10;
            }
            
            h3.ImgText{
                font-size: x-large;
                font-weight: 10;
            }


div.ImgText{
    padding: 25px;
    letter-spacing: 10px;
    font-size: 50px;
    text-align: center;

}

section.DemoreelVideos {
        background: #111726;
        padding: 50px;
        padding-bottom: 555px;
        top:0;
        bottom:0;
        clear: both;
        /* width: 100%;
        height: 100%; */
}

    /* * {box-sizing:border-box} */
    /* Slideshow container */
    .slideshow-container {
        /* max-width: 1000px; */
        position: relative;
        margin: auto;
    }
    
        /* I dont know how else to solve other than making duplicates */
    
        .slideshow-container2 {
            /* max-width: 1000px; */
            position: relative;
            margin: auto;
        }
    
    /* Hide the images by default */
    .mySlides {
        display: none;
    }
    
        .mySlides2 {
            display: none;
        }
    
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    text-align: unset;
    }
    
        .prev2, .next2 {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        text-align: unset;
        }
    
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    .prev{
        left: 0;
        border-radius: 3px 0 0 3px;
        }
    
        .next2 {
        right: 0;
        border-radius: 3px 0 0 3px;
        }
    
        .prev2{
            left: 0;
            border-radius: 3px 0 0 3px;
        }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-flex;
        transition: background-color 0.6s ease;
    } 
    
        .dot2 {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-flex;
            transition: background-color 0.6s ease;
        }
    
    .active, .dot:hover {
        background-color: #717171;
    }
        .active2, .dot2:hover {
            background-color: #717171;
        }
    
    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
  
    .VideoWrapper {
        display: flex; 
        /* float: none; */
        clear: both;
        width: 100%;
        height: 500px;
        margin: 0px auto;

        /* position: relative; */
        /* padding-bottom: 45%;
        padding-top: 25px; */
        }
        .VideoWrapper iframe {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: auto;
            box-shadow: 0px 00px 20px 0px #000000;;
        }
            .SoundVideo{
                float: left;
                width: 45%; 
                height: 100%;
                /* margin-right: 10%; */
            }
            .MusicVideo{
                float: right;
                width: 45%; 
                height: 100%;
                /* margin-left: 55%; */
            }

    @media (max-width:767px) {
        .VideoWrapper{
            width: 100%;
            height: 100%;
        }
        .SoundVideo {
            width: 100%;
            height: 100%;
            /* float: none; */
        }
        .MusicVideo {
            width: 100%;
            height: 100%;
            float: none;
        }
    }
h3 {
    /* color: #fad643;  */
}

p {
    font-size: 72px;
    margin: 100;
    padding: 100;
    }
footer{
    display: block;
    background: #111726;
    color: #000000;
    padding: 100px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* overflow: hidden */
}
    ul.footer {
        flex-wrap: nowrap;
    }
        li.FooterLink{
            display: inline-flex;
            margin: 0px 5%;
            position: relative; bottom: 50px;
            /* white-space: nowrap; */
            /* overflow: hidden; */
        }
        .LogoFoot{
            /* text-align: center; */
            Height: 50px; width: 55px; 
            background-color: #ffffff;
            position: relative;
            padding: 3px 3px 5px 0px;
            border-radius: 50%;

        }
        .FootText{
            color: #ffffff;
            font-size: large;
            margin: 50px 0px 0px 0px;
        }   

